aside {
    // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    // background-image: linear-gradient(to top, #ff174f 0%, #ff285e 100%);
    // background-color: #ff0844;
    // background-color: #3e5151;
    // background-image: linear-gradient(-225deg, #5753c9 48%, #6e7ff3 100%);
    background-color: #625eb1;
    background-image: linear-gradient(to bottom, #5753c9 48%, #6e7ff3 100%);
    box-shadow: 1px -1px 20px -5px rgba(43, 43, 56, 0.6);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.2rem 0px;
    .sidebar-menu {
        display: flex;
        flex-direction: column;
        li {
            a {
                color: #fff;
                display: block;
                height: 45px;
                padding: 0px 25px;
                line-height: 45px;
                font-size: 1rem;
                position: relative;
                transition: all 0.6s ease;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
                i {
                    margin-right: 5px;
                    width: 25px;
                }

                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0px;
                    transition-property: height, width;
                    transition-duration: 0.4s;
                    background-color: #ff0844;
                    height: 0%;
                }

                &::before {
                    bottom: 50%;
                }

                &::after {
                    top: 50%;
                }

                &.active,
                &:hover {
                    &::after,
                    &::before {
                        height: 50%;
                        width: 5px;
                    }
                }

                &.active,
                &:hover {
                    padding-left: 25px;
                    background-color: #5f61db;
                    background-image: linear-gradient(270deg,#6665e0 15%,#5e5fd9 100%);
                }
            }
        }
    }

    .collapse-menu {
        padding-left: 30px;
        position: sticky;
        margin-top: auto;
        bottom: 20px;
        button {
            border: none;
            outline: none;
            cursor: pointer;
            background: #5f60db !important;
            color: #fff;
            border-radius: 4px;
            i {
                padding: 7px 15px;
                font-size: 1.5rem;
            }
        }
    }
}

//box-shadow: inset 1px 1px 2px rgba(35,37,50, 0.7), 1px 1px 2px transparent
