*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
}

a, a:hover{
    text-decoration: none;
    display: inline-block;
    font-family: $font-nunito;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-nunito;
}

p{
    font-family: $font-nunito;
}