.card {
    background-color: $white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 35px 0px rgba($color: $lightgray, $alpha: 0.15);
    .card-header {
        margin-bottom: 0.8rem;
    }
    .card-body {
        text-align: left;
    }
    .card-footer {
        margin-top: 0.8rem;
    }
}
